@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');

@font-face {
    font-family: 'Comfortaa', cursive;
}

@font-face {
    font-family: 'Roboto', cursive;
}

body {
    font-family: 'Roboto';
    background-image: url("../images/bg.png");
    overflow-x: hidden;
}

.navbar {
    background: linear-gradient(to bottom, rgba(50,88,201,1) 0%,rgba(51,82,159,1) 100%);
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.navbar-brand:hover {
    text-decoration: none;
    color: inherit;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #f97300;
    border-radius: 5px;
    -webkit-transition: opacity 2.0s ease-in;
    -moz-transition: opacity 2.0s ease-in;
    -o-transition: opacity 2.0s ease-in;
    opacity: 1;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-brand .logo{
    height: 30px;
}

.bg-dark{
    background-color:#343a40!important
}
.bg-primary{
    background-color:#007bff!important
}

.jumbotron{
    background: none;
}
